{% comment %} {% extends "base.html" %} {% endcomment %}

{% block page_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
        <form class="form-horizontal" method="post" action="{% url 'login' %}">
        {% csrf_token %}
          <fieldset>

          <!-- Form Name -->
          <legend>Вход в систему</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">{{ form.username.label_tag }}</label>  
            <div class="col-md-4">
            {{ form.username }}
            <span class="help-block">Введите логин пользователя</span>  
            </div>
          </div>

          <!-- Password input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">{{ form.password.label_tag }}</label>
            <div class="col-md-4">
              {{ form.password }}
              <span class="help-block">Введите пароль пользователя</span>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
              <input class="btn btn-primary" type="submit" value="Войти" />
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
              <a class="btn btn-primary btn-large btn-warning" href="{% url 'password_reset' %}">Забытый пароль?</a>
             </div>
          </div>

          </fieldset>
          </form>
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Имя пользователя или пароль некорректны. Попробуйте ещё раз
          </div>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
              У вашей учетной записи нет доступа к этой странице.
              Пожалуйста, войдите с учетной записью, у которой есть доступ.
            </div>
          {% else %}
            <div class="alert alert-danger" role="alert">
              Пожалуйста, войдите, чтобы увидеть эту страницу.
            </div>
          {% endif %}
        {% endif %}
			</div>
		</div>
	</div>
</div>


{% endblock %}