{% extends "base.html" %}
{% block page_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% if form.email.errors %} 
                        <div class="alert alert-danger" role="alert">
                            {{ form.email.errors }} 
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput"></label>  
                        <div class="col-md-4">
                            {{ form.email }}
                            <span class="help-block">Введите адрес электронной почты</span>  
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-primary btn-large btn-warning" value="Reset password" />
                        </div>
                    </div>        
                         
                    
                </form>
			</div>
		</div>
	</div>
</div>


{% endblock %}