<script>
 var buttons = [
              {
                  text: 'Добавить',
                  name: 'add'        // do not change name
              },
              {
                  extend: 'selected', // Bind to Selected row
                  text: 'Редактировать',
                  name: 'edit'        // do not change name
              },
              {
                  extend: 'selected', // Bind to Selected row
                  text: 'Удалить',
                  name: 'delete'      // do not change name
              },
              {
                  text: 'Обновить',
                  name: 'refresh'      // do not change name
              },
              {extend: 'excel', text: 'Excel'},
              {extend: 'csv', text: 'CSV'},
              {extend: 'pdf', text: 'PDF'}
          ];
</script>