{% csrf_token %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script>
var data = [
    [ "Row 1 - Field 1", "Row 1 - Field 2", "Row 1 - Field 3" ],
    [ "Row 2 - Field 1", "Row 2 - Field 2", "Row 2 - Field 3" ],
];
var columns = [
    { "data": "Author" },
    { "data": "BooksOnDisplayCount" },
    { "data": "ChildVisitorCount" },
    { "data": "Department_id" },
    { "data": "Description" },
    { "data": "EndDate" },
    { "data": "EventForm_id" },
    { "data": "EventType_id" },
    { "data": "ExpositionTitle" },
    { "data": "HasPhotos" },
    { "data": "HasPoster" },
    { "data": "IssuedBooksCount" },
    { "data": "JuniorVisitorCount" },
    { "data": "Location" },
    { "data": "Owner_id" },
    { "data": "StartDate" },
    { "data": "Title" },
    { "data": "VisitorCount" },
    { "data": "id" }

];  
$(document).ready(function() {
  $('#example').DataTable( {
    dom: "Bfrtip",
    "ajax": {
      "url" : "api/operatorevents",
      "type": "get",
      'beforeSend': function (request) {
        request.setRequestHeader("api-csrftoken", '{{ csrf_token }}');
      }
    },
    columns: columns
  });
});
</script>
<table id="example" class="display table table-striped table-bordered"
       cellspacing="0" width="100%">
       <thead>
            <tr>
                <th>Тип мероприятия</th>
                <th>Отдел-организатор</th>
                <th>Форма мероприятия</th>
                <th>Оператор</th>
                <th>Тема мероприятия</th>
                <th>Название сопровождающей выставки</th>
                <th>Была ли подготовлена афиша?</th>
                <th>Место хранения медиа-отчета</th>
                <th>Начало мероприятия</th>
                <th>Окончание мероприятия</th>
                <th>Название мероприятия</th>
                <th>Описание содержания мероприятия</th>
                <th>Регистратор мероприятия</th>
                <th>Место провидения</th>
                <th>Количество участников</th>
                <th>.. из них детей 14 лет</th>
                <th>..от 14 до 18 лет</th>
                <th>Количество выставвленых книг</th>
                <th>Количество выданных книг</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Тип мероприятия</th>
                <th>Отдел-организатор</th>
                <th>Форма мероприятия</th>
                <th>Оператор</th>
                <th>Тема мероприятия</th>
                <th>Название сопровождающей выставки</th>
                <th>Была ли подготовлена афиша?</th>
                <th>Место хранения медиа-отчета</th>
                <th>Начало мероприятия</th>
                <th>Окончание мероприятия</th>
                <th>Название мероприятия</th>
                <th>Описание содержания мероприятия</th>
                <th>Регистратор мероприятия</th>
                <th>Место провидения</th>
                <th>Количество участников</th>
                <th>.. из них детей 14 лет</th>
                <th>..от 14 до 18 лет</th>
                <th>Количество выставвленых книг</th>
                <th>Количество выданных книг</th>
            </tr>
        </tfoot>
       </table>
<table class="table table-hover" id="collar">
                                       
 </table>