{% csrf_token %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script>
var data = [
    [ "Row 1 - Field 1", "Row 1 - Field 2", "Row 1 - Field 3" ],
    [ "Row 2 - Field 1", "Row 2 - Field 2", "Row 2 - Field 3" ],
];
var columns = [
    { "title":"Тип мероприятия" },
    { "title":"Отдел-организатор" },
    { "title":"Форма мероприятия" },
    { "title":"Оператор" },
    { "title":"Тема мероприятия" },
    { "title":"Название сопровождающей выставки" },
    { "title":"Была ли подготовлена афиша?" },
    { "title":"Место хранения медиа-отчета" },
    { "title":"Начало мероприятия" },
    { "title":"Окончание мероприятия" },
    { "title":"Название мероприятия" },
    { "title":"Описание содержания мероприятия" },
    { "title":"Регистратор мероприятия" },
    { "title":"Место провидения" },
    { "title":"Количество участников" },
    { "title":".. из них детей 14 лет" },
    { "title":"..от 14 до 18 лет" },
    { "title":"Количество выставвленых книг" },
    { "title":"Количество выданных книг" }
];  
$(document).ready(function() {
  $('#example').DataTable( {
    dom: "Bfrtip",
    "ajax": {
      "url" : "api/operatorevents",
      "type": "get",
      'beforeSend': function (request) {
        request.setRequestHeader("api-csrftoken", '{{ csrf_token }}');
      }
    },
    columns: columns
  });
});
</script>
<table id="example" class="display table table-striped table-bordered"
       cellspacing="0" width="100%"></table>
<table class="table table-hover" id="collar">
                                       
 </table>