{% csrf_token %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js" crossorigin="anonymous"></script>
<script>
var columns = [
    { "data": "Author", "title":"Регистратор мероприятия" },
    { "data": "BooksOnDisplayCount", "title":"Количество выставвленых книг" },
    { "data": "ChildVisitorCount", "title":".. из них детей 14 лет" },
    { "data": "Department_id", "title":"Отдел-организатор" },
    { "data": "Description", "title":"Описание содержания мероприятия" },
    { "data": "EndDate", "title":"Окончание мероприятия" },
    { "data": "EventForm_id", "title":"Форма мероприятия" },
    { "data": "EventType_id", "title":"Тип мероприятия" },
    { "data": "ExpositionTitle", "title":"Название сопровождающей выставки" },
    { "data": "HasPhotos", "title":"Место хранения медиа-отчета" },
    { "data": "HasPoster", "title":"Была ли подготовлена афиша?" },
    { "data": "IssuedBooksCount", "title":"Количество выданных книг" },
    { "data": "JuniorVisitorCount", "title":"..от 14 до 18 лет" },
    { "data": "Location", "title":"Место провидения" },
    { "data": "Owner_id", "title":"Оператор" },
    { "data": "StartDate", "title":"Начало мероприятия" },
    { "data": "Title", "title":"Название мероприятия" },
    { "data": "VisitorCount", "title":"Количество участников" },
    { "data": "id", "title":"Идентификатор" },
    { "data": "Theme", "title":"Тема мероприятия" }

];  
$(document).ready(function() {
  $('#example').DataTable( {
    dom: "Bfrtip",
    "ajax": {
      "url" : "api/operatorevents",
      "type": "get",
      'beforeSend': function (request) {
        request.setRequestHeader("api-csrftoken", '{{ csrf_token }}');
      }
    },
    columns: columns
  });
});
</script>
<table id="example" class="display table table-striped table-bordered"
       cellspacing="0" width="100%">
       
       </table>
<table class="table table-hover" id="collar">
                                       
 </table>