{% extends "base.html" %}

{% block page_content %}
	
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/brutusin-json-forms.min.css' %}" crossorigin="anonymous">

<h1>Hello, World!</h1>
<div id="container" style="padding-left:12px;padding-right:12px;padding-bottom: 12px;"></div>
<script lang="javascript">
            var schema = {"type": "boolean"}
            var BrutusinForms = brutusin["json-forms"];
            var bf = BrutusinForms.create(schema);
            var container = document.getElementById('container');
            bf.render(container, data);
        </script>
<script src="{% static 'js/brutusin-json-forms-bootstrap.min.js'%}" crossorigin="anonymous"></script>
<script src="{% static 'js/brutusin-json-forms.js'%}" crossorigin="anonymous"></script>
{% endblock %}
